{% extends 'base.html' %}
{% load static %}

{% block contents %}
<!--JS -->       
<script src="{% static 'user/js/followersList.js' %}"></script>
<style>
    .form-outer-container{
        margin: 5rem;
    }
    .search{
        width :20rem;
        float :left ;
    }
    .search-button{
        border:1px solid #386bc0;
        color:#386bc0;
    }
    .search-button:hover{
        background:#386bc0;
        color : white;
        border :1px solid #386bc0;
    }    
</style>

<div class="container">
    <form class="form-inline form-outer-container">
        <input class="form-control mr-sm-2 search" placeholder="search your followers" type="search" name="search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 search-button" type="submit">Search</button>
    </form>
    <ul id="followersList"></ul>

    <div id="searchResults" style="display: none;">
        <h3>Search Results</h3>
        <ul id="searchResultList"></ul>
    </div>
</div>
{% endblock %}
