{% extends 'base.html' %}
{% load static %}

{% block contents %}

<!--js-->
<script src="{% static 'user/js/pendingReq.js' %}"></script>
<style>
    #follow-request-container{
        height :auto;
        max-width: fit-content;
        margin-top:1rem;
        margin-bottom : 2rem;
        display: flex;
        align-items: center;
        margin-left:3rem ;
    }
    #cancel-request-button,
    #accept-request-button{
        color: black;
        background-color: #ffffff;
        border: 1px solid black;
        border-radius: 3px;
        width:4rem;
        height: 30px;
        margin-left: 1.5rem;
    }
    #follow-request-message{
        width :auto;
        height: 1rem;
    }
</style>

<h3>Pending requests</h3>
<div id="follow-request-container" >
    <p id="follow-request-message"></p>
    <button id="cancel-request-button">Cancel</button>
    <button id="accept-request-button">Accept</button>
</div>
{% endblock %}