{% extends 'base.html' %}
{% load static %}

{% block contents %}
<!--css-->
<link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
<!--js-->
<script src="{% static 'user/js/profile.js' %}"></script>

<div class='container'>
    <div class="profile">
        <div id="profile-image">

        </div>

        <h2 class="profile-name"></h2>
        <button class='profile-edit-button' id="myButton">Edit profile</button>   

        <div class="row">
            <div class=''>
                <a href="{% url 'followers-list' %}"><span id="profile-stats" class="profile-followers-count"></span> Followers</a>
            </div>
            <div class=''>
                <a href="{% url 'following-list' %}"><span id="profile-stats" class="profile-following-count"></span> Following</a>
            </div>
        </div>

        <div class="profile-bio">
            <p><span></span></p>
        </div>
    </div>
</div>
<br>
<hr class="hr-line">
<br>
<div class="container overall-container">
    <ul id="postsList">

    </ul>
</div>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/users/profile-update/";
    };
</script>


{% endblock %}