{% extends 'base.html' %}
{% load static %}

{% block contents %}
<!--js-->   
<script src="{% static 'user/js/edit-profile.js' %}"></script>

<style>
.update-button,
.update-button:hover{
    background-color : white;
    border:1px solid black;
    color: black;
}
#bio{
    width :500px;
}
</style>

<div class="container">
    <h4>Update Profile</h4>
    <form id="update-profile-form">
        <div class="form-group">

            <div class="form-group">
                <label for="profile_pic">Profile Picture:</label>
                <input type="file" class="form-control-file" id="profile_pic" name="profile_pic">
            </div>  
                      
            <label for="bio">Bio:</label>
            <textarea class="form-control" id="bio" name="bio"></textarea>
        </div>
        <button type="submit" class="btn btn-primary update-button">Update</button>
    </form>
</div>
{% endblock %}