{% extends 'base.html' %}
{% load static %}

{% block contents %}
<!--JS --> 
<script src="{% static 'post/js/postImage.js' %}"></script>

<div class="container">
    
    <form method="POST" id="imagePostingForm" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="images" multiple><br>
        <textarea id="caption" name="caption"placeholder="Give captions" rows="4" cols="50"></textarea><br>
        <input id="submitButton" type="submit" value="Post">
    </form>
</div>

{% endblock %}